

<div _class="container-fluid  h-100" style="height: 100vh;">
    <div class="col align-items-center justify-content-center d-flex h-100">
        <div class="col-md-5">
            <mat-card *ngIf="isEmailVerified ; else showChangePassword">
                <mat-card-header>
                    <mat-card-title>Verify Email</mat-card-title>
                  </mat-card-header>
                  <mat-divider ></mat-divider>
                  <mat-card-content class="mt-4">

                      <div class="col">
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Email</mat-label>
                              <input type="email" matInput [formControl]="emailFormControl"
                                     placeholder="Ex. pat@example.com">
                              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                              </mat-error>
                              <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>
                          </form>
                        </div>

                  </mat-card-content>
                  <mat-card-footer>
                    <div class="col text-end me-3 " >
                        <button mat-raised-button color="accent">Submit</button>
                    </div>
                    <div class="col text-center ">
                        <p> <a  routerLink="/login" >Login</a></p>
                    </div>
                  </mat-card-footer>
            </mat-card>

            <ng-template #showChangePassword>

                <ng-container>
                    <mat-card>
                    <mat-card-header>
                        <mat-card-title>Change Password</mat-card-title>
                      </mat-card-header>
                      <mat-divider ></mat-divider>
                      <mat-card-content class="mt-4">

                          <div class="col">
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Password</mat-label>
                                  <input type="password" matInput [formControl]="passwordControl"
                                         placeholder="Ex. pat@example.com">
                                  <mat-error *ngIf="passwordControl.hasError('Password') && !passwordControl.hasError('required')">
                                    Please enter a valid email address
                                  </mat-error>
                                  <mat-error *ngIf="passwordControl.hasError('required')">
                                    Password is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </form>
                            </div>
                            <div class="col">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                      <mat-label>Confirm password</mat-label>
                                      <input type="password" matInput [formControl]="resetPasswordControl"
                                             placeholder="Ex. pat@example.com">
                                      <mat-error *ngIf="resetPasswordControl.hasError('Password') && !resetPasswordControl.hasError('required')">
                                        Please enter a valid email address
                                      </mat-error>
                                      <mat-error *ngIf="resetPasswordControl.hasError('required')">
                                        Password is <strong>required</strong>
                                      </mat-error>
                                    </mat-form-field>
                                  </form>
                                </div>
                      </mat-card-content>
                      <mat-card-footer>
                        <div class="col text-end me-3 " >
                            <button mat-raised-button color="accent">Submit</button>
                        </div>
                        <div class="col text-center ">
                            <p> <a  routerLink="/login/forgot-password" >Login</a></p>
                        </div>
                      </mat-card-footer>
                    </mat-card>
                </ng-container>
            </ng-template>

        </div>

    </div>
</div>
