<div _class="container-fluid">
  <div class="col">
    <div class="col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header class="d-flex justify-content-between">
          <mat-card-title>Edit Customer Details</mat-card-title>
          <svg xmlns="http://www.w3.org/2000/svg" (click)="showCustomerDetails()"  width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
        </mat-card-header>
        <mat-divider></mat-divider>
        <form [formGroup]="mobileDetailsForm" (ngSubmit)="onSubmit()">
          <mat-card-content class="mt-4">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Customer name</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="customer_name"
                    placeholder="Ex. pat@example.com"
                  />
                  <mat-error
                    *ngIf="deviceFormControl?.customer_name?.errors?.required"
                  >
                    Customer name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Recieved date</mat-label>
                  <input
                    type="date"
                    matInput
                    formControlName="received_date"
                    placeholder="Monday 12 august"
                  />

                  <mat-error
                    *ngIf="deviceFormControl?.received_date?.errors?.required"
                  >
                    Date is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Mobile 1</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="mobile_no"
                    placeholder="Mobile number"
                  />

                  <mat-error
                    *ngIf="deviceFormControl?.mobile_no?.errors?.required"
                  >
                    Mobile number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Aleternate Mobile </mat-label>
                  <input
                    type="tel"
                    matInput
                    formControlName="aleternate_mobile"
                    placeholder="Aleternate Mobile number"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Company Name</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="company_name"
                    placeholder="Company name"
                  />
                  <mat-error
                    *ngIf="deviceFormControl?.company_name?.errors?.required"
                  >
                    Model number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Model Number</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="model_no"
                    placeholder="Ex. 6600"
                  />
                  <mat-error
                    *ngIf="deviceFormControl?.model_no?.errors?.required"
                  >
                    Model number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>IMEI No</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="imei"
                    placeholder="Ex. IEMI12345"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Price</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="price"
                    placeholder="10000/-"
                  />

                  <mat-error *ngIf="deviceFormControl?.price?.errors?.required">
                    Price is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="fill" hintLabel="Max 300 characters">
                <mat-label>Additional details</mat-label>
                <textarea matInput #textArea  formControlName="additional_details" placeholder="Addtopnal comments" [maxlength]="300"></textarea>
                <mat-hint align="end">{{textArea.value.length || 0}}/300</mat-hint>

              </mat-form-field>
             </div>
            <div class="col-md-12 mt-2">
              <div class="card">
                <div class="card-body border-0">
                  <ng-container *ngIf="areImageChoosen; else showChoosedImage">
                    <div class="align-items-center justify-content-center d-flex h-100">
                      <div>
                        <p class="m-0 p-0">Choose Image</p>
                         <p  class="m-0 p-0">You can choose max 2 image</p>
                      </div>

                    </div>
                  </ng-container>

                  <ng-template #showChoosedImage>
                    <ng-container>
                      <div class="row">
                        <div
                          class="col-md-6 text-center"
                          *ngFor="let item of deviceDetails.deviceList; let i = index"
                        >
                        <div class="col-md-12 d-flex justify-content-end">
                          <svg xmlns="http://www.w3.org/2000/svg" (click)="onRemoveFile ()" style="cursor:pointer" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </div>
                          <img [src]="item" class="img-size" />
                        </div>
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex align-items-center">
                <!-- <div>
                  <svg
                  (click)="showWebCam()"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-camera"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"
                  />
                  <path
                    d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
                  />
                </svg>
              </div> -->
                <div>
                  <input
                    type="file"
                    formControlName="device_photo_1"
                    class="mt-2 mx-3 p-0"
                    multiple="multiple"
                    accept=".png,.jpge/*"
                    (change)="onSelectFile($event, 'url_1')"
                  />

                </div>
              </div>
            </div>

          </mat-card-content>
          <!-- <mat-card-footer>
            <div class="col text-center mt-3 mb-3">
              <button mat-raised-button color="accent">Submit</button>
            </div>
          </mat-card-footer> -->
        </form>
      </mat-card>
    </div>

    <!-- <app-camera
      (pictureTaken)="handleImage($event)"
      *ngIf="webCam"
    ></app-camera>

    <div class="snapshot" *ngIf="webcamImage">
      <img [src]="webcamImage.imageAsDataUrl" />
    </div> -->
  </div>
</div>
