img{
  width: 120px;
  height: 120px
}
svg{
  cursor: pointer;
}
.icon-position{
  position: absolute;
  width: inherit;
  display: flex;
  justify-content: end;
}
.pointer{
  cursor: pointer;
}

mat-form-field {
  margin-right: 12px;
}
