<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item >
      <mat-icon>account_circle</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>

<div class="container-fluid p-0" style="height: 80vh">
  <mat-drawer-container class="example-container col border-0" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list>
        <mat-list-item style="cursor: pointer;" routerLink="add-mobile"  [routerLinkActive]="['is-active']">
          <span matListItemTitle>Add Device</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="cursor: pointer;" routerLink="show-mobile"  [routerLinkActive]="['is-active']">
          <span matListItemTitle>Device Details</span>
       </mat-list-item>
       <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>
    <div class="">

        <router-outlet></router-outlet>

    </div>
  </mat-drawer-container>
</div>


